aclocal.m4
ar-lib
autom4te.cache
bin-devel/
bin-release/
compile
config.*
configure
configure~
configure.ac.old
depcomp
install-sh
ltmain.sh
m4/
Makefile.in
missing
test-driver
ylwrap
*.swp
.DS_Store
